*{
    margin:0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/*CONTAINER*/
.container{
    background-color: #e7e7e7;
    margin: 0px auto;
    width: 800px;

    
}
/*HEADER*/
.header{
    background-color: yellow;
    line-height:60px;
    text-align: center;
}

/*MENU*/
.nav{
    display:flex;
    padding: 10px 20px;
    justify-content: space-between;
    width: 100%;
    position: relative;
    background-color: black;
    line-height: 40px;
    color: white;

}
.logo{
    font-size: 28px;
}
.ulMenu{
    display: flex;
    gap: 20px;

}
#cmdMenu{
    display: none;
}
.nav.active .ulMenu{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid white;
    background-color: black;
    color: yellow;
    display: block;
    flex-direction: row;
    position: absolute;
    top: 60px;
    left: 0px;
    z-index: 100;
}
.nav.active li{
    border-bottom: 1px solid white;
}

/*CONTEUDO*/
.conteudo{
    display: flex;
    flex-wrap: wrap;
    margin:0px auto;
    background-color: rgb(196, 190, 190);
    padding: 20px;
    width: 80%;
    min-height: 400px;
    gap:10px

}
.itemConteudo{
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    width: 180px;
    height: 250px;
    padding: 10px;
    background-color:rgb(241, 232, 232);
    overflow: hidden;
}
/*CONTEUDO*/
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: black;
    color: yellow;
    
}
/*MEDIA QUERY*/

@media (max-width: 700px){
    .header{
        width: 100%;
    }
    .header h1{
        font-size: 24px;
    }
}

@media (max-width: 600px){
    .ulMenu{
        display: none;
    }
    #cmdMenu{
        display: block;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        border: 0px;
        background-color: black;
        color: yellow;
        
    }
    .footer{
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
    }
    .footer span{
        flex: 100%;
    }
}

@media(max-width: 500px){
    .itemConteudo{
        flex: 40%;
    }
}

@media(max-width: 450px){
    .conteudo{
        width: 100%;
    }
    .itemConteudo{
        flex: 50%;
    }
}
